* {
	box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -o-box-sizing:border-box;
   -ms-box-sizing:border-box;
}
body {
	font-family: 'Josefin Slab', serif;
	overflow-x: hidden;
	color: #000;
}
header {
	position: fixed;
	width: 10%;
	margin-top: -54px;
	padding: 1%;
	padding-top: 0;
	top: 50%;
}
.general{
	display: inline-block;
	width: 90%;
	float: right;
}
#redi {
	color: red;
}
.black-butt {
    color: #fff;
    background: #000;
    border: 2px solid #fff;
    width: 100px;
    height: 39px;
    padding: 0;
}
.wihte-butt {
	width: 100px;
    height: 39px;
    color: #000;
    background: #fff;
    border: 2px solid #000;
    padding: 0;
}
