* {
	box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -o-box-sizing:border-box;
   -ms-box-sizing:border-box;
}
body {
	font-family: 'Josefin Slab', serif;
	overflow-x: hidden;
}
header {
	color: #fff;
	box-shadow: inset 0px -10px 10px rgba(255,255,255,0.1);
}
.img-responsive {
	margin: 0 auto;
	vertical-align: middle;
}
.container {
	padding: 0;
}

.logo h1{
	text-align: left;
	margin-bottom: 25px;
}
#redi {
	color: red; 
}
.button {
	text-align: right;
	margin-top: 20px;
	margin-bottom: 25px;
}
.black-butt {
    color: #fff ;
    background: #000;
    border: 2px solid #fff;
    width: 100px;
    height: 39px;
    padding: 0;
}
.wihte-butt {
	width: 100px;
    height: 39px;
    color: #000 ;
    background: #fff;
    border: 2px solid #000;
    padding: 0;
}
.creative-box {
	margin-top: 84px;
	min-height: 390px;
	box-shadow: 0 0 20px rgba(255,255,255,0.7);
}
.fotorama {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.fotorama img {
}
.top-section {
	border-top: 2px solid #fff;

}
.content {
	padding-top: 40px;
	color: #fff;
}
.not img {
	margin-top: 70px;
	width: 700px;
}
.imegtop  {
	position: absolute;
	height: 100%;
	margin-top: 10px;
}
.info {
	vertical-align: middle;
}
.info:before {
	content:'';
	display: block;
	height: 2px;
	width: 90%;
	margin: 0 auto;
	background-color: #fff ;
}
.info p {
	font-size: 20px;
	text-align: justify;
}
.row1 {
	padding-top: 84px;
	color: #fff;
}
.row1 h2{
	text-align: center;
}
.left {
	position: absolute;
	left: -2px;
}
.right {
	position: relative;
	display: block;
	vertical-align: baseline;
	height: 100%;
	margin-left: 45px;
}
.row2 {
	padding-top: 20px;
	text-align: right;
	z-index: 1;
	color: #fff;

}
